name: Go
on: [push, pull_request]
jobs:
  build:
    name: Build
    timeout-minutes: 30
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "stable"

      - name: Get dependencies
        run: |
          go get -v -t -d ./...

      - name: Build
        run: make build

      - name: Test
        run: make test
